nodered/nodered.txt
[{"id":"c22531a2.08ff88","type":"tab","label":"init","disabled":false,"info":""},{"id":"3b19c1eb.458ef6","type":"tab","label":"fan","disabled":false,"info":""},{"id":"52b95767.a2f478","type":"tab","label":"api","disabled":false,"info":""},{"id":"6db02b4.a91bfd4","type":"mqtt-broker","z":"","name":"rebi-simon.ch","broker":"rebi-simon.ch","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5b733dff.d70554","type":"ui_group","z":"","name":"Home Kanuclub Biel","tab":"590e0e17.30f548","disp":true,"width":"6","collapse":false},{"id":"590e0e17.30f548","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"e416582e.ccd568","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f43722be.e56a98","type":"influxdb","z":"","hostname":"isorp.ch","port":"8086","protocol":"http","database":"telegraf_test","name":"telegraf_test","usetls":false,"tls":""},{"id":"634b0c01.28d4c4","type":"websocket-client","z":"","path":"wss://echo.websocket.org","tls":"","wholemsg":"false"},{"id":"b0fdb4a6.9a20e","type":"http request","z":"3b19c1eb.458ef6","name":"get_humidity_threshold","method":"GET","ret":"txt","url":"","tls":"","x":577.5,"y":256,"wires":[["9adc88b3.384b8"]]},{"id":"32a491e5.44864e","type":"inject","z":"3b19c1eb.458ef6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":150,"wires":[["aaa52488.1546c"]]},{"id":"9adc88b3.384b8","type":"join","z":"3b19c1eb.458ef6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":788,"y":299,"wires":[["bfe7dc3c.7134b8"]]},{"id":"bfe7dc3c.7134b8","type":"function","z":"3b19c1eb.458ef6","name":"Compare >","func":"var threshold = parseFloat(msg.payload[0]);\nvar current = parseFloat(msg.payload[1]);\n\nif (threshold > current){\n    msg.payload = true;\n}\nelse\n{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":946,"y":299,"wires":[["2245d1cc.7a78b6"]],"icon":"node-red-node-rbe/rbe.png"},{"id":"2245d1cc.7a78b6","type":"link out","z":"3b19c1eb.458ef6","name":"fan1_out","links":["99308b0c.d6c67","d4a0e316.7669d"],"x":1063.5,"y":299,"wires":[]},{"id":"8c7792a.b36437","type":"function","z":"3b19c1eb.458ef6","name":"create_query","func":"id =global.get('fan1_id');\nvar query = 'SELECT mean(\"weather_temperature\") AS \"mean_weather_temperature\" FROM \"telegraf_test\".\"autogen\".\"mymqtt\" WHERE time > now() - 1m AND \"topic\"=\"esp32/bmp280/\"';\nmsg.query=query;\nreturn msg;\n","outputs":1,"noerr":0,"x":339.5,"y":357,"wires":[["82e08e52.c52c88"]]},{"id":"bfc8a3b6.74a5f","type":"inject","z":"c22531a2.08ff88","name":"OnStartup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":124.5,"y":62,"wires":[["dc3e4d01.d4911"]]},{"id":"6cd9f0d.f4e5b1","type":"function","z":"c22531a2.08ff88","name":"store_device_ids","func":"//context.set('fan1_id', msg.payload);\nglobal.set('fan1_id', 123);\nreturn msg;","outputs":1,"noerr":0,"x":509.5,"y":409,"wires":[["9586834b.213358"]]},{"id":"82e08e52.c52c88","type":"influxdb in","z":"3b19c1eb.458ef6","influxdb":"f43722be.e56a98","name":"mean_humidity","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":568,"y":357,"wires":[["9adc88b3.384b8"]]},{"id":"a1dad7e0.9b3f1","type":"http request","z":"c22531a2.08ff88","name":"get_inventory","method":"GET","ret":"txt","url":"","tls":"","x":267,"y":409,"wires":[["6cd9f0d.f4e5b1"]]},{"id":"b4769699.60a1d8","type":"function","z":"c22531a2.08ff88","name":"store_settings","func":"global.set('influx_db', '10.0.0.12');\nglobal.set('local_api', '10.0.0.12');\nglobal.set('rest_api', '10.0.0.11');\nreturn msg;","outputs":1,"noerr":0,"x":496.5,"y":511,"wires":[["9586834b.213358"]]},{"id":"7595add2.545614","type":"file in","z":"c22531a2.08ff88","name":"read_settings","filename":"/home/config.conf","format":"utf8","chunk":false,"sendError":false,"x":266,"y":511,"wires":[["b4769699.60a1d8"]]},{"id":"90783bb5.0ed4a8","type":"function","z":"3b19c1eb.458ef6","name":"create_url","func":"msg.url = global.get('local_api') + \"/\";\nmsg.headers = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":337.5,"y":255,"wires":[["b0fdb4a6.9a20e"]]},{"id":"9586834b.213358","type":"join","z":"c22531a2.08ff88","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":701.5,"y":460,"wires":[["67d2849d.b022c4"]]},{"id":"67d2849d.b022c4","type":"function","z":"c22531a2.08ff88","name":"set_initialized","func":"context.set('initialized', true);\nreturn msg;","outputs":1,"noerr":0,"x":916,"y":460,"wires":[[]]},{"id":"aaa52488.1546c","type":"function","z":"3b19c1eb.458ef6","name":"is_initialized","func":"\nvar val = global.get('initialized')\nmsg.payload = val;\n\n/*if (val === true) {\n    return msg;\n}*/\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":134.5,"y":303,"wires":[["90783bb5.0ed4a8","8c7792a.b36437"]]},{"id":"dc3e4d01.d4911","type":"function","z":"c22531a2.08ff88","name":"mock_settings","func":"global.set('influx_db', 'isorp.ch');\nglobal.set('local_api', 'isorp.ch');\nglobal.set('rest_api', 'isorp.ch');\n\nglobal.set('esp32', 123);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":698,"y":64,"wires":[["67d2849d.b022c4"]]},{"id":"db71666a.68e8f8","type":"inject","z":"c22531a2.08ff88","name":"OnStartup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133,"y":217,"wires":[["dcdb34d6.0bb4a8"]]},{"id":"e08a3cf8.74435","type":"function","z":"c22531a2.08ff88","name":"set_initialized_false","func":"context.set('initialized', false);\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":312,"wires":[["dcdb34d6.0bb4a8","6a826d2.49e8114"]]},{"id":"dcdb34d6.0bb4a8","type":"link out","z":"c22531a2.08ff88","name":"init","links":["82f87dda.908198"],"x":531.5,"y":218,"wires":[]},{"id":"82f87dda.908198","type":"link in","z":"c22531a2.08ff88","name":"load settings","links":["dcdb34d6.0bb4a8"],"x":71.5,"y":465,"wires":[["a1dad7e0.9b3f1","7595add2.545614"]]},{"id":"d9bec22c.b9c6d","type":"comment","z":"c22531a2.08ff88","name":"Globale Variablen initialisieren","info":"# Initialisieren \nBeim ersten Start wird das Sensor/Aktor inventory ausgelesn. Die ID's werden in die entsprechenden globalen Variaben kopiert\n\n# Events\nÄndert sich das Inventory nach der Initialisation, kann eine reinitialisation durch ein api event (Websocket) erzwungen werden","x":166.5,"y":140,"wires":[]},{"id":"20870f96.6e8bf","type":"http response","z":"52b95767.a2f478","name":"","statusCode":"200","headers":{},"x":282.5,"y":359,"wires":[]},{"id":"39e96ff5.8376e","type":"http in","z":"52b95767.a2f478","name":"","url":"/events/","method":"put","upload":false,"swaggerDoc":"","x":116,"y":68,"wires":[["46bfbc77.b3f18c"]]},{"id":"46bfbc77.b3f18c","type":"switch","z":"52b95767.a2f478","name":"","property":"playload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$.payload.event.cid = \"xyz\"","vt":"jsonata"},{"t":"eq","v":"test","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":336.5,"y":68,"wires":[["d2f4edd8.ddb8f8"],["742282ca.70c0fc"],["68ba4735.338c5"]]},{"id":"d2f4edd8.ddb8f8","type":"link out","z":"52b95767.a2f478","name":"","links":["d4a0e316.7669d"],"x":529.5,"y":57,"wires":[]},{"id":"d4a0e316.7669d","type":"link in","z":"3b19c1eb.458ef6","name":"fan1_out","links":["2245d1cc.7a78b6","d2f4edd8.ddb8f8"],"x":40,"y":521,"wires":[["bac8da8c.1e967"]]},{"id":"bac8da8c.1e967","type":"function","z":"3b19c1eb.458ef6","name":"create_request","func":"//PUT {{apiurl}}/things/{{thingId}}/{{event.name}} Request payload:\n\nvar value = msg.payload;\nvar tid = msg.payload.event.tid;\nvar name = msg.payload.event.name;\nvar parameters = msg.payload.event.parameters;\n\nmsg.url = global.get('rest_api') + \"/things/\" + tid + \"/\" + name;\nmsg.payload = parameters;\n//msg.headers = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":246,"y":521,"wires":[["61052d1e.94f084"]]},{"id":"61052d1e.94f084","type":"http request","z":"3b19c1eb.458ef6","name":"put_fan_state","method":"PUT","ret":"txt","url":"","tls":"","x":520.5,"y":520,"wires":[["93c230b8.c7757"]]},{"id":"d16423d5.3aede8","type":"comment","z":"3b19c1eb.458ef6","name":"Fan automation","info":"","x":103,"y":63,"wires":[]},{"id":"742282ca.70c0fc","type":"link out","z":"52b95767.a2f478","name":"","links":[],"x":529.5,"y":98,"wires":[]},{"id":"31c71af7.20c276","type":"link in","z":"52b95767.a2f478","name":"api_response_200","links":["6680a83d.a1a938","6a826d2.49e8114"],"x":80.5,"y":360,"wires":[["20870f96.6e8bf"]]},{"id":"43c74823.ff0b4","type":"comment","z":"3b19c1eb.458ef6","name":"Write Fan state to the middle layer","info":"","x":166,"y":463,"wires":[]},{"id":"89b2145a.03579","type":"comment","z":"52b95767.a2f478","name":"if event is not found","info":"","x":742.5,"y":184,"wires":[]},{"id":"68ba4735.338c5","type":"http response","z":"52b95767.a2f478","name":"","statusCode":"404","headers":{},"x":569,"y":186,"wires":[]},{"id":"bc7a23eb.5175b","type":"comment","z":"c22531a2.08ff88","name":"Momentan wird die Initialisierung übersprungen... ","info":"# Initialisieren \nBeim ersten Start wird das Sensor/Aktor inventory ausgelesn. Die ID's werden in die entsprechenden globalen Variaben kopiert\n\n# Events\nÄndert sich das Inventory nach der Initialisation, kann eine reinitialisation durch ein api event (Websocket) erzwungen werden","x":221,"y":20,"wires":[]},{"id":"de5766bf.4d6268","type":"http in","z":"c22531a2.08ff88","name":"","url":"/initialize/","method":"put","upload":false,"swaggerDoc":"","x":122,"y":312,"wires":[["e08a3cf8.74435"]]},{"id":"6a826d2.49e8114","type":"link out","z":"c22531a2.08ff88","name":"initialized","links":["31c71af7.20c276"],"x":530.5,"y":313,"wires":[]},{"id":"627244a.25a883c","type":"http response","z":"52b95767.a2f478","name":"","statusCode":"404","headers":{},"x":283,"y":430,"wires":[]},{"id":"2e2a1b74.4ac594","type":"link in","z":"52b95767.a2f478","name":"api_response_404","links":["9c557eef.581f88"],"x":82,"y":431,"wires":[["627244a.25a883c"]]},{"id":"478d55a4.9facf4","type":"http response","z":"52b95767.a2f478","name":"","statusCode":"405","headers":{},"x":282,"y":499,"wires":[]},{"id":"67a50449.32cb04","type":"link in","z":"52b95767.a2f478","name":"api_response_405","links":["f9e3f6de.1fa0d8"],"x":81,"y":500,"wires":[["478d55a4.9facf4","e4858f11.a43c48"]]},{"id":"e4858f11.a43c48","type":"debug","z":"52b95767.a2f478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":296.5,"y":579,"wires":[]},{"id":"93c230b8.c7757","type":"http response","z":"3b19c1eb.458ef6","name":"","statusCode":"","headers":{},"x":756.5,"y":520,"wires":[]}]